<p id="notice"><%= notice %></p>

<h1>Userlocations</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lng</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userlocations.each do |userlocation| %>
      <tr>
        <td><%= userlocation.lat %></td>
        <td><%= userlocation.lng %></td>
        <td><%= userlocation.user %></td>
        <td><%= link_to 'Show', userlocation %></td>
        <td><%= link_to 'Edit', edit_userlocation_path(userlocation) %></td>
        <td><%= link_to 'Destroy', userlocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userlocation', new_userlocation_path %>
